DATABASE_URL="postgresql://postgres.mvdzmgnwcqkxtdoryhsm:GhF3vHeXztTCTw5E@aws-0-us-east-2.pooler.supabase.com:6543/postgres?pgbouncer=true"
DIRECT_URL="postgresql://postgres.mvdzmgnwcqkxtdoryhsm:GhF3vHeXztTCTw5E@aws-0-us-east-2.pooler.supabase.com:5432/postgres"
PORT=3001
JWT_SECRET=your_jwt_secret_here
