HOST=0.0.0.0
PORT=3001

DATABASE_URL=postgresql://postgres:nueva_contraseña@localhost:5432/classconnect
POSTGRES_USER=postgres
POSTGRES_DB=classconnect
POSTGRES_PASSWORD=nueva_contraseña
DB_USER=postgres
DB_PASSWORD=nueva_contraseña
DB_PORT=5432
DB_NAME=classconnect

JWT_SECRET=your_jwt_secret_here
